[Desktop Entry]
Version=1.0
Type=Application
Name=Ask the Model
GenericName=Local AI Chat
Comment=Explore scientific model repositories with local AI
Exec=io.github.laurentiustaicu.ask_the_model
Icon=io.github.laurentiustaicu.ask_the_model
Terminal=false
Categories=Utility;
Keywords=AI;Chat;Local;Assistant;Models;Science;EWD;CBD;RMD;
StartupNotify=true
